/* ++component 1 */

.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px
}

._mat-animation-noopable.mat-card {
  transition: none;
  animation: none
}

.mat-card .mat-divider-horizontal {
  position: absolute;
  left: 0;
  width: 100%
}

[dir=rtl] .mat-card .mat-divider-horizontal {
  left: auto;
  right: 0
}

.mat-card .mat-divider-horizontal.mat-divider-inset {
  position: static;
  margin: 0
}

[dir=rtl] .mat-card .mat-divider-horizontal.mat-divider-inset {
  margin-right: 0
}

.cdk-high-contrast-active .mat-card {
  outline: solid 1px
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 16px
}

.mat-card-title {
  display: block;
  margin-bottom: 8px
}

.mat-card-actions {
  margin-left: -8px;
  margin-right: -8px;
  padding: 8px 0
}

.mat-card-actions-align-end {
  display: flex;
  justify-content: flex-end
}

.mat-card-image {
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px
}

.mat-card-footer {
  display: block;
  margin: 0 -16px -16px -16px
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  margin: 0 8px
}

.mat-card-header {
  display: flex;
  flex-direction: row
}

.mat-card-header .mat-card-title {
  margin-bottom: 12px
}

.mat-card-header-text {
  margin: 0 16px
}

.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover
}

.mat-card-title-group {
  display: flex;
  justify-content: space-between
}

.mat-card-sm-image {
  width: 80px;
  height: 80px
}

.mat-card-md-image {
  width: 112px;
  height: 112px
}

.mat-card-lg-image {
  width: 152px;
  height: 152px
}

.mat-card-xl-image {
  width: 240px;
  height: 240px;
  margin: -8px
}

.mat-card-title-group>.mat-card-xl-image {
  margin: -8px 0 8px
}

@media(max-width: 599px) {
  .mat-card-title-group {
    margin: 0
  }
  .mat-card-xl-image {
    margin-left: 0;
    margin-right: 0
  }
}

.mat-card>:first-child, .mat-card-content>:first-child {
  margin-top: 0
}

.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: 0
}

.mat-card-image:first-child {
  margin-top: -16px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: -8px;
  padding-bottom: 0
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child, .mat-card-actions .mat-stroked-button:first-child {
  margin-left: 0;
  margin-right: 0
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
  margin-top: -4px
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: -8px
}

.mat-card>.mat-card-xl-image:first-child {
  margin-top: -8px
}

.mat-card>.mat-card-xl-image:last-child {
  margin-bottom: -8px
}

/* ++component 2 */

.mat-button .mat-button-focus-overlay, .mat-icon-button .mat-button-focus-overlay {
  opacity: 0
}

.mat-button:hover .mat-button-focus-overlay, .mat-stroked-button:hover .mat-button-focus-overlay {
  opacity: .04
}

@media(hover: none) {
  .mat-button:hover .mat-button-focus-overlay, .mat-stroked-button:hover .mat-button-focus-overlay {
    opacity: 0
  }
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible
}

.mat-button::-moz-focus-inner, .mat-icon-button::-moz-focus-inner, .mat-stroked-button::-moz-focus-inner, .mat-flat-button::-moz-focus-inner {
  border: 0
}

.mat-button[disabled], .mat-icon-button[disabled], .mat-stroked-button[disabled], .mat-flat-button[disabled] {
  cursor: default
}

.mat-button.cdk-keyboard-focused .mat-button-focus-overlay, .mat-button.cdk-program-focused .mat-button-focus-overlay, .mat-icon-button.cdk-keyboard-focused .mat-button-focus-overlay, .mat-icon-button.cdk-program-focused .mat-button-focus-overlay, .mat-stroked-button.cdk-keyboard-focused .mat-button-focus-overlay, .mat-stroked-button.cdk-program-focused .mat-button-focus-overlay, .mat-flat-button.cdk-keyboard-focused .mat-button-focus-overlay, .mat-flat-button.cdk-program-focused .mat-button-focus-overlay {
  opacity: .12
}

.mat-button::-moz-focus-inner, .mat-icon-button::-moz-focus-inner, .mat-stroked-button::-moz-focus-inner, .mat-flat-button::-moz-focus-inner {
  border: 0
}

.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mat-raised-button::-moz-focus-inner {
  border: 0
}

.mat-raised-button[disabled] {
  cursor: default
}

.mat-raised-button.cdk-keyboard-focused .mat-button-focus-overlay, .mat-raised-button.cdk-program-focused .mat-button-focus-overlay {
  opacity: .12
}

.mat-raised-button::-moz-focus-inner {
  border: 0
}

._mat-animation-noopable.mat-raised-button {
  transition: none;
  animation: none
}

.mat-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px
}

.mat-stroked-button .mat-button-ripple.mat-ripple, .mat-stroked-button .mat-button-focus-overlay {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px
}

.mat-fab {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 0;
  flex-shrink: 0
}

.mat-fab::-moz-focus-inner {
  border: 0
}

.mat-fab[disabled] {
  cursor: default
}

.mat-fab.cdk-keyboard-focused .mat-button-focus-overlay, .mat-fab.cdk-program-focused .mat-button-focus-overlay {
  opacity: .12
}

.mat-fab::-moz-focus-inner {
  border: 0
}

._mat-animation-noopable.mat-fab {
  transition: none;
  animation: none
}

.mat-fab .mat-button-wrapper {
  padding: 16px 0;
  display: inline-block;
  line-height: 24px
}

.mat-mini-fab {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  flex-shrink: 0
}

.mat-mini-fab::-moz-focus-inner {
  border: 0
}

.mat-mini-fab[disabled] {
  cursor: default
}

.mat-mini-fab.cdk-keyboard-focused .mat-button-focus-overlay, .mat-mini-fab.cdk-program-focused .mat-button-focus-overlay {
  opacity: .12
}

.mat-mini-fab::-moz-focus-inner {
  border: 0
}

._mat-animation-noopable.mat-mini-fab {
  transition: none;
  animation: none
}

.mat-mini-fab .mat-button-wrapper {
  padding: 8px 0;
  display: inline-block;
  line-height: 24px
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%
}

.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 24px
}

.mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  border-radius: inherit
}

.mat-button-ripple.mat-ripple:not(:empty) {
  transform: translateZ(0)
}

.mat-button-focus-overlay {
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1)
}

._mat-animation-noopable .mat-button-focus-overlay {
  transition: none
}

.cdk-high-contrast-active .mat-button-focus-overlay {
  background-color: #fff
}

.cdk-high-contrast-black-on-white .mat-button-focus-overlay {
  background-color: #000
}

.mat-button-ripple-round {
  border-radius: 50%;
  z-index: 1
}

.mat-button .mat-button-wrapper>*, .mat-flat-button .mat-button-wrapper>*, .mat-stroked-button .mat-button-wrapper>*, .mat-raised-button .mat-button-wrapper>*, .mat-icon-button .mat-button-wrapper>*, .mat-fab .mat-button-wrapper>*, .mat-mini-fab .mat-button-wrapper>* {
  vertical-align: middle
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  display: block;
  font-size: inherit;
  width: 2.5em;
  height: 2.5em
}

.cdk-high-contrast-active .mat-button, .cdk-high-contrast-active .mat-flat-button, .cdk-high-contrast-active .mat-raised-button, .cdk-high-contrast-active .mat-icon-button, .cdk-high-contrast-active .mat-fab, .cdk-high-contrast-active .mat-mini-fab {
  outline: solid 1px
}

/* ++component 3 */

.mat-badge-content[_ngcontent-%COMP%] {
  font-weight: 600;
  font-size: 12px;
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-badge-small[_ngcontent-%COMP%] .mat-badge-content[_ngcontent-%COMP%] {
  font-size: 9px
}

.mat-badge-large[_ngcontent-%COMP%] .mat-badge-content[_ngcontent-%COMP%] {
  font-size: 24px
}

.mat-h1[_ngcontent-%COMP%], .mat-headline[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] h1[_ngcontent-%COMP%] {
  font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px
}

.mat-h2[_ngcontent-%COMP%], .mat-title[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] h2[_ngcontent-%COMP%] {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px
}

.mat-h3[_ngcontent-%COMP%], .mat-subheading-2[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] h3[_ngcontent-%COMP%] {
  font: 400 16px/28px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px
}

.mat-h4[_ngcontent-%COMP%], .mat-subheading-1[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] h4[_ngcontent-%COMP%] {
  font: 400 15px/24px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px
}

.mat-h5[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] h5[_ngcontent-%COMP%] {
  font: 400 11.62px/20px Roboto, Helvetica Neue, sans-serif;
  margin: 0 0 12px
}

.mat-h6[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] h6[_ngcontent-%COMP%] {
  font: 400 9.38px/20px Roboto, Helvetica Neue, sans-serif;
  margin: 0 0 12px
}

.mat-body-2[_ngcontent-%COMP%], .mat-body-strong[_ngcontent-%COMP%] {
  font: 500 14px/24px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-body[_ngcontent-%COMP%], .mat-body-1[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] {
  font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-body-1[_ngcontent-%COMP%] p[_ngcontent-%COMP%], .mat-body[_ngcontent-%COMP%] p[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] p[_ngcontent-%COMP%] {
  margin: 0 0 12px
}

.mat-caption[_ngcontent-%COMP%], .mat-small[_ngcontent-%COMP%] {
  font: 400 12px/20px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-display-4[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] .mat-display-4[_ngcontent-%COMP%] {
  font: 300 112px/112px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: -.05em;
  margin: 0 0 56px
}

.mat-display-3[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] .mat-display-3[_ngcontent-%COMP%] {
  font: 400 56px/56px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: -.02em;
  margin: 0 0 64px
}

.mat-display-2[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] .mat-display-2[_ngcontent-%COMP%] {
  font: 400 45px/48px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: -.005em;
  margin: 0 0 64px
}

.mat-display-1[_ngcontent-%COMP%], .mat-typography[_ngcontent-%COMP%] .mat-display-1[_ngcontent-%COMP%] {
  font: 400 34px/40px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 64px
}

.mat-bottom-sheet-container[_ngcontent-%COMP%] {
  font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-button[_ngcontent-%COMP%], .mat-fab[_ngcontent-%COMP%], .mat-flat-button[_ngcontent-%COMP%], .mat-icon-button[_ngcontent-%COMP%], .mat-mini-fab[_ngcontent-%COMP%], .mat-raised-button[_ngcontent-%COMP%], .mat-stroked-button[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500
}

.mat-button-toggle[_ngcontent-%COMP%], .mat-card[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-card-title[_ngcontent-%COMP%] {
  font-size: 24px;
  font-weight: 500
}

.mat-card-header[_ngcontent-%COMP%] .mat-card-title[_ngcontent-%COMP%] {
  font-size: 20px
}

.mat-card-content[_ngcontent-%COMP%], .mat-card-subtitle[_ngcontent-%COMP%] {
  font-size: 14px
}

.mat-checkbox[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-checkbox-layout[_ngcontent-%COMP%] .mat-checkbox-label[_ngcontent-%COMP%] {
  line-height: 24px
}

.mat-chip[_ngcontent-%COMP%] {
  font-size: 14px;
  font-weight: 500
}

.mat-chip[_ngcontent-%COMP%] .mat-chip-remove.mat-icon[_ngcontent-%COMP%], .mat-chip[_ngcontent-%COMP%] .mat-chip-trailing-icon.mat-icon[_ngcontent-%COMP%] {
  font-size: 18px
}

.mat-table[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-header-cell[_ngcontent-%COMP%] {
  font-size: 12px;
  font-weight: 500
}

.mat-cell[_ngcontent-%COMP%], .mat-footer-cell[_ngcontent-%COMP%] {
  font-size: 14px
}

.mat-calendar[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-calendar-body[_ngcontent-%COMP%] {
  font-size: 13px
}

.mat-calendar-body-label[_ngcontent-%COMP%], .mat-calendar-period-button[_ngcontent-%COMP%] {
  font-size: 14px;
  font-weight: 500
}

.mat-calendar-table-header[_ngcontent-%COMP%] th[_ngcontent-%COMP%] {
  font-size: 11px;
  font-weight: 400
}

.mat-dialog-title[_ngcontent-%COMP%] {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-expansion-panel-header[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 400
}

.mat-expansion-panel-content[_ngcontent-%COMP%] {
  font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-form-field[_ngcontent-%COMP%] {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-form-field-wrapper[_ngcontent-%COMP%] {
  padding-bottom: 1.34375em
}

.mat-form-field-prefix[_ngcontent-%COMP%] .mat-icon[_ngcontent-%COMP%], .mat-form-field-suffix[_ngcontent-%COMP%] .mat-icon[_ngcontent-%COMP%] {
  font-size: 150%;
  line-height: 1.125
}

.mat-form-field-prefix[_ngcontent-%COMP%] .mat-icon-button[_ngcontent-%COMP%], .mat-form-field-suffix[_ngcontent-%COMP%] .mat-icon-button[_ngcontent-%COMP%] {
  height: 1.5em;
  width: 1.5em
}

.mat-form-field-prefix[_ngcontent-%COMP%] .mat-icon-button[_ngcontent-%COMP%] .mat-icon[_ngcontent-%COMP%], .mat-form-field-suffix[_ngcontent-%COMP%] .mat-icon-button[_ngcontent-%COMP%] .mat-icon[_ngcontent-%COMP%] {
  height: 1.125em;
  line-height: 1.125
}

.mat-form-field-infix[_ngcontent-%COMP%] {
  padding: .5em 0;
  border-top: .84375em solid transparent
}

.mat-form-field-can-float.mat-form-field-should-float[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%], .mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[_ngcontent-%COMP%]:focus+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  transform: translateY(-1.34375em) scale(.75);
  width: 133.3333333333%
}

.mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[label][_ngcontent-%COMP%]:not(:label-shown)+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  transform: translateY(-1.34374em) scale(.75);
  width: 133.3333433333%
}

.mat-form-field-label-wrapper[_ngcontent-%COMP%] {
  top: -.84375em;
  padding-top: .84375em
}

.mat-form-field-label[_ngcontent-%COMP%] {
  top: 1.34375em
}

.mat-form-field-underline[_ngcontent-%COMP%] {
  bottom: 1.34375em
}

.mat-form-field-subscript-wrapper[_ngcontent-%COMP%] {
  font-size: 75%;
  margin-top: .6666666667em;
  top: calc(100% - 1.79167em)
}

.mat-form-field-appearance-legacy[_ngcontent-%COMP%] .mat-form-field-wrapper[_ngcontent-%COMP%] {
  padding-bottom: 1.25em
}

.mat-form-field-appearance-legacy[_ngcontent-%COMP%] .mat-form-field-infix[_ngcontent-%COMP%] {
  padding: .4375em 0
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%], .mat-form-field-appearance-legacy.mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[_ngcontent-%COMP%]:focus+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  -ms-transform: translateY(-1.28125em) scale(.75);
  width: 133.3333333333%
}

.mat-form-field-appearance-legacy.mat-form-field-can-float[_ngcontent-%COMP%] .mat-form-field-autofill-control[_ngcontent-%COMP%]:-webkit-autofill+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.00101px);
  -ms-transform: translateY(-1.28124em) scale(.75);
  width: 133.3333433333%
}

.mat-form-field-appearance-legacy.mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[label][_ngcontent-%COMP%]:not(:label-shown)+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.00102px);
  -ms-transform: translateY(-1.28123em) scale(.75);
  width: 133.3333533333%
}

.mat-form-field-appearance-legacy[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  top: 1.28125em
}

.mat-form-field-appearance-legacy[_ngcontent-%COMP%] .mat-form-field-underline[_ngcontent-%COMP%] {
  bottom: 1.25em
}

.mat-form-field-appearance-legacy[_ngcontent-%COMP%] .mat-form-field-subscript-wrapper[_ngcontent-%COMP%] {
  margin-top: .5416666667em;
  top: calc(100% - 1.66667em)
}

@media print {
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%], .mat-form-field-appearance-legacy.mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[_ngcontent-%COMP%]:focus+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
    transform: translateY(-1.28122em) scale(.75)
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float[_ngcontent-%COMP%] .mat-form-field-autofill-control[_ngcontent-%COMP%]:-webkit-autofill+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
    transform: translateY(-1.28121em) scale(.75)
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[label][_ngcontent-%COMP%]:not(:label-shown)+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
    transform: translateY(-1.2812em) scale(.75)
  }
}

.mat-form-field-appearance-fill[_ngcontent-%COMP%] .mat-form-field-infix[_ngcontent-%COMP%] {
  padding: .25em 0 .75em
}

.mat-form-field-appearance-fill[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  top: 1.09375em;
  margin-top: -.5em
}

.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%], .mat-form-field-appearance-fill.mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[_ngcontent-%COMP%]:focus+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  transform: translateY(-.59375em) scale(.75);
  width: 133.3333333333%
}

.mat-form-field-appearance-fill.mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[label][_ngcontent-%COMP%]:not(:label-shown)+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  transform: translateY(-.59374em) scale(.75);
  width: 133.3333433333%
}

.mat-form-field-appearance-outline[_ngcontent-%COMP%] .mat-form-field-infix[_ngcontent-%COMP%] {
  padding: 1em 0
}

.mat-form-field-appearance-outline[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  top: 1.84375em;
  margin-top: -.25em
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%], .mat-form-field-appearance-outline.mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[_ngcontent-%COMP%]:focus+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  transform: translateY(-1.59375em) scale(.75);
  width: 133.3333333333%
}

.mat-form-field-appearance-outline.mat-form-field-can-float[_ngcontent-%COMP%] .mat-input-server[label][_ngcontent-%COMP%]:not(:label-shown)+.mat-form-field-label-wrapper[_ngcontent-%COMP%] .mat-form-field-label[_ngcontent-%COMP%] {
  transform: translateY(-1.59374em) scale(.75);
  width: 133.3333433333%
}

.mat-grid-tile-footer[_ngcontent-%COMP%], .mat-grid-tile-header[_ngcontent-%COMP%] {
  font-size: 14px
}

.mat-grid-tile-footer[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%], .mat-grid-tile-header[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box
}

.mat-grid-tile-footer[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%]:nth-child(n+2), .mat-grid-tile-header[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%]:nth-child(n+2) {
  font-size: 12px
}

input.mat-input-element[_ngcontent-%COMP%] {
  margin-top: -.0625em
}

.mat-menu-item[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400
}

.mat-paginator[_ngcontent-%COMP%], .mat-paginator-page-size[_ngcontent-%COMP%] .mat-select-trigger[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 12px
}

.mat-radio-button[_ngcontent-%COMP%], .mat-select[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-select-trigger[_ngcontent-%COMP%] {
  height: 1.125em
}

.mat-slide-toggle-content[_ngcontent-%COMP%], .mat-slider-thumb-label-text[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-slider-thumb-label-text[_ngcontent-%COMP%] {
  font-size: 12px;
  font-weight: 500
}

.mat-stepper-horizontal[_ngcontent-%COMP%], .mat-stepper-vertical[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-step-label[_ngcontent-%COMP%] {
  font-size: 14px;
  font-weight: 400
}

.mat-step-sub-label-error[_ngcontent-%COMP%] {
  font-weight: 400
}

.mat-step-label-error[_ngcontent-%COMP%] {
  font-size: 14px
}

.mat-step-label-selected[_ngcontent-%COMP%] {
  font-size: 14px;
  font-weight: 500
}

.mat-tab-group[_ngcontent-%COMP%], .mat-tab-label[_ngcontent-%COMP%], .mat-tab-link[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-tab-label[_ngcontent-%COMP%], .mat-tab-link[_ngcontent-%COMP%] {
  font-size: 14px;
  font-weight: 500
}

.mat-toolbar[_ngcontent-%COMP%], .mat-toolbar[_ngcontent-%COMP%] h1[_ngcontent-%COMP%], .mat-toolbar[_ngcontent-%COMP%] h2[_ngcontent-%COMP%], .mat-toolbar[_ngcontent-%COMP%] h3[_ngcontent-%COMP%], .mat-toolbar[_ngcontent-%COMP%] h4[_ngcontent-%COMP%], .mat-toolbar[_ngcontent-%COMP%] h5[_ngcontent-%COMP%], .mat-toolbar[_ngcontent-%COMP%] h6[_ngcontent-%COMP%] {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0
}

.mat-tooltip[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px
}

.mat-tooltip-handset[_ngcontent-%COMP%] {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px
}

.mat-list-item[_ngcontent-%COMP%], .mat-list-option[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-list-base[_ngcontent-%COMP%] .mat-list-item[_ngcontent-%COMP%] {
  font-size: 16px
}

.mat-list-base[_ngcontent-%COMP%] .mat-list-item[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box
}

.mat-list-base[_ngcontent-%COMP%] .mat-list-item[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%]:nth-child(n+2) {
  font-size: 14px
}

.mat-list-base[_ngcontent-%COMP%] .mat-list-option[_ngcontent-%COMP%] {
  font-size: 16px
}

.mat-list-base[_ngcontent-%COMP%] .mat-list-option[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box
}

.mat-list-base[_ngcontent-%COMP%] .mat-list-option[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%]:nth-child(n+2) {
  font-size: 14px
}

.mat-list-base[_ngcontent-%COMP%] .mat-subheader[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500
}

.mat-list-base[dense][_ngcontent-%COMP%] .mat-list-item[_ngcontent-%COMP%] {
  font-size: 12px
}

.mat-list-base[dense][_ngcontent-%COMP%] .mat-list-item[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box
}

.mat-list-base[dense][_ngcontent-%COMP%] .mat-list-item[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%]:nth-child(n+2), .mat-list-base[dense][_ngcontent-%COMP%] .mat-list-option[_ngcontent-%COMP%] {
  font-size: 12px
}

.mat-list-base[dense][_ngcontent-%COMP%] .mat-list-option[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box
}

.mat-list-base[dense][_ngcontent-%COMP%] .mat-list-option[_ngcontent-%COMP%] .mat-line[_ngcontent-%COMP%]:nth-child(n+2) {
  font-size: 12px
}

.mat-list-base[dense][_ngcontent-%COMP%] .mat-subheader[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 500
}

.mat-option[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 16px
}

.mat-optgroup-label[_ngcontent-%COMP%] {
  font: 500 14px/24px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal
}

.mat-simple-snackbar[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px
}

.mat-simple-snackbar-action[_ngcontent-%COMP%] {
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500
}

.mat-tree[_ngcontent-%COMP%] {
  font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-nested-tree-node[_ngcontent-%COMP%], .mat-tree-node[_ngcontent-%COMP%] {
  font-weight: 400;
  font-size: 14px
}

.mat-ripple[_ngcontent-%COMP%] {
  overflow: hidden;
  position: relative
}

.mat-ripple[_ngcontent-%COMP%]:not(:empty) {
  transform: translateZ(0)
}

.mat-ripple.mat-ripple-unbounded[_ngcontent-%COMP%] {
  overflow: visible
}

.mat-ripple-element[_ngcontent-%COMP%] {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1);
  transform: scale(0)
}

.cdk-high-contrast-active[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%] {
  display: none
}

.cdk-visually-hidden[_ngcontent-%COMP%] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none
}

.cdk-global-overlay-wrapper[_ngcontent-%COMP%], .cdk-overlay-container[_ngcontent-%COMP%] {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

.cdk-overlay-container[_ngcontent-%COMP%] {
  position: fixed;
  z-index: 1000
}

.cdk-overlay-container[_ngcontent-%COMP%]:empty {
  display: none
}

.cdk-global-overlay-wrapper[_ngcontent-%COMP%], .cdk-overlay-pane[_ngcontent-%COMP%] {
  display: flex;
  position: absolute;
  z-index: 1000
}

.cdk-overlay-pane[_ngcontent-%COMP%] {
  pointer-events: auto;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%
}

.cdk-overlay-backdrop[_ngcontent-%COMP%] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing[_ngcontent-%COMP%] {
  opacity: 1
}

@media screen and (-ms-high-contrast:active) {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing[_ngcontent-%COMP%] {
    opacity: .6
  }
}

.cdk-overlay-dark-backdrop[_ngcontent-%COMP%] {
  background: rgba(0, 0, 0, .32)
}

.cdk-overlay-transparent-backdrop[_ngcontent-%COMP%], .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing[_ngcontent-%COMP%] {
  opacity: 0
}

.cdk-overlay-connected-position-bounding-box[_ngcontent-%COMP%] {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px
}

.cdk-global-scrollblock[_ngcontent-%COMP%] {
  position: fixed;
  width: 100%;
  overflow-y: scroll
}

@keyframes cdk-text-field-autofill-start {}

@keyframes cdk-text-field-autofill-end {}

.cdk-text-field-autofill-monitored[_ngcontent-%COMP%]:-webkit-autofill {
  animation: cdk-text-field-autofill-start 0s 1ms
}

.cdk-text-field-autofill-monitored[_ngcontent-%COMP%]:not(:-webkit-autofill) {
  animation: cdk-text-field-autofill-end 0s 1ms
}

textarea.cdk-textarea-autosize[_ngcontent-%COMP%] {
  resize: none
}

textarea.cdk-textarea-autosize-measuring[_ngcontent-%COMP%] {
  height: auto!important;
  overflow: hidden!important;
  padding: 2px 0!important;
  box-sizing: initial!important
}

.mat-ripple-element[_ngcontent-%COMP%] {
  background-color: rgba(0, 0, 0, .1)
}

.mat-option[_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .87)
}

.mat-option.mat-active[_ngcontent-%COMP%], .mat-option.mat-selected[_ngcontent-%COMP%]:not(.mat-option-multiple):not(.mat-option-disabled), .mat-option[_ngcontent-%COMP%]:focus:not(.mat-option-disabled), .mat-option[_ngcontent-%COMP%]:hover:not(.mat-option-disabled) {
  background: rgba(0, 0, 0, .04)
}

.mat-option.mat-active[_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .87)
}

.mat-option.mat-option-disabled[_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .38)
}

.mat-primary[_ngcontent-%COMP%] .mat-option.mat-selected[_ngcontent-%COMP%]:not(.mat-option-disabled) {
  color: #3f51b5
}

.mat-accent[_ngcontent-%COMP%] .mat-option.mat-selected[_ngcontent-%COMP%]:not(.mat-option-disabled) {
  color: #ff4081
}

.mat-warn[_ngcontent-%COMP%] .mat-option.mat-selected[_ngcontent-%COMP%]:not(.mat-option-disabled) {
  color: #f44336
}

.mat-optgroup-label[_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .54)
}

.mat-optgroup-disabled[_ngcontent-%COMP%] .mat-optgroup-label[_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .38)
}

.mat-pseudo-checkbox[_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .54)
}

.mat-pseudo-checkbox[_ngcontent-%COMP%]:after {
  color: #fafafa
}

.mat-pseudo-checkbox-disabled[_ngcontent-%COMP%] {
  color: #b0b0b0
}

.mat-primary[_ngcontent-%COMP%] .mat-pseudo-checkbox-checked[_ngcontent-%COMP%], .mat-primary[_ngcontent-%COMP%] .mat-pseudo-checkbox-indeterminate[_ngcontent-%COMP%] {
  background: #3f51b5
}

.mat-accent[_ngcontent-%COMP%] .mat-pseudo-checkbox-checked[_ngcontent-%COMP%], .mat-accent[_ngcontent-%COMP%] .mat-pseudo-checkbox-indeterminate[_ngcontent-%COMP%], .mat-pseudo-checkbox-checked[_ngcontent-%COMP%], .mat-pseudo-checkbox-indeterminate[_ngcontent-%COMP%] {
  background: #ff4081
}

.mat-warn[_ngcontent-%COMP%] .mat-pseudo-checkbox-checked[_ngcontent-%COMP%], .mat-warn[_ngcontent-%COMP%] .mat-pseudo-checkbox-indeterminate[_ngcontent-%COMP%] {
  background: #f44336
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-disabled[_ngcontent-%COMP%], .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-disabled[_ngcontent-%COMP%] {
  background: #b0b0b0
}

.mat-elevation-z0[_ngcontent-%COMP%] {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z1[_ngcontent-%COMP%] {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z2[_ngcontent-%COMP%] {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z3[_ngcontent-%COMP%] {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z4[_ngcontent-%COMP%] {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z5[_ngcontent-%COMP%] {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z6[_ngcontent-%COMP%] {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z7[_ngcontent-%COMP%] {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12)
}

.mat-elevation-z8[_ngcontent-%COMP%] {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
}

.mat-elevation-z9[_ngcontent-%COMP%] {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12)
}

.mat-elevation-z10[_ngcontent-%COMP%] {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12)
}

.mat-elevation-z11[_ngcontent-%COMP%] {
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12)
}

.mat-elevation-z12[_ngcontent-%COMP%] {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12)
}

.mat-elevation-z13[_ngcontent-%COMP%] {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12)
}

.mat-elevation-z14[_ngcontent-%COMP%] {
  box-shadow: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12)
}

.mat-elevation-z15[_ngcontent-%COMP%] {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12)
}

.mat-elevation-z16[_ngcontent-%COMP%] {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12)
}

.mat-elevation-z17[_ngcontent-%COMP%] {
  box-shadow: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12)
}

.mat-elevation-z18[_ngcontent-%COMP%] {
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12)
}

.mat-elevation-z19[_ngcontent-%COMP%] {
  box-shadow: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12)
}

.mat-elevation-z20[_ngcontent-%COMP%] {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12)
}

.mat-elevation-z21[_ngcontent-%COMP%] {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12)
}

.mat-elevation-z22[_ngcontent-%COMP%] {
  box-shadow: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12)
}

.mat-elevation-z23[_ngcontent-%COMP%] {
  box-shadow: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12)
}

.mat-elevation-z24[_ngcontent-%COMP%] {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12)
}

.mat-app-background[_ngcontent-%COMP%] {
  background-color: #fafafa;
  color: rgba(0, 0, 0, .87)
}

.mat-theme-loaded-marker[_ngcontent-%COMP%] {
  display: none
}

.mat-button[_ngcontent-%COMP%], .mat-icon-button[_ngcontent-%COMP%], .mat-stroked-button[_ngcontent-%COMP%] {
  color: inherit;
  background: transparent
}

.mat-button.mat-primary[_ngcontent-%COMP%], .mat-icon-button.mat-primary[_ngcontent-%COMP%], .mat-stroked-button.mat-primary[_ngcontent-%COMP%] {
  color: #3f51b5
}

.mat-button.mat-accent[_ngcontent-%COMP%], .mat-icon-button.mat-accent[_ngcontent-%COMP%], .mat-stroked-button.mat-accent[_ngcontent-%COMP%] {
  color: #ff4081
}

.mat-button.mat-warn[_ngcontent-%COMP%], .mat-icon-button.mat-warn[_ngcontent-%COMP%], .mat-stroked-button.mat-warn[_ngcontent-%COMP%] {
  color: #f44336
}

.mat-button.mat-accent[disabled][_ngcontent-%COMP%], .mat-button.mat-primary[disabled][_ngcontent-%COMP%], .mat-button.mat-warn[disabled][_ngcontent-%COMP%], .mat-button[disabled][disabled][_ngcontent-%COMP%], .mat-icon-button.mat-accent[disabled][_ngcontent-%COMP%], .mat-icon-button.mat-primary[disabled][_ngcontent-%COMP%], .mat-icon-button.mat-warn[disabled][_ngcontent-%COMP%], .mat-icon-button[disabled][disabled][_ngcontent-%COMP%], .mat-stroked-button.mat-accent[disabled][_ngcontent-%COMP%], .mat-stroked-button.mat-primary[disabled][_ngcontent-%COMP%], .mat-stroked-button.mat-warn[disabled][_ngcontent-%COMP%], .mat-stroked-button[disabled][disabled][_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .26)
}

.mat-button.mat-primary[_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%], .mat-icon-button.mat-primary[_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%], .mat-stroked-button.mat-primary[_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%] {
  background-color: #3f51b5
}

.mat-button.mat-accent[_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%], .mat-icon-button.mat-accent[_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%], .mat-stroked-button.mat-accent[_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%] {
  background-color: #ff4081
}

.mat-button.mat-warn[_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%], .mat-icon-button.mat-warn[_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%], .mat-stroked-button.mat-warn[_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%] {
  background-color: #f44336
}

.mat-button[disabled][_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%], .mat-icon-button[disabled][_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%], .mat-stroked-button[disabled][_ngcontent-%COMP%] .mat-button-focus-overlay[_ngcontent-%COMP%] {
  background-color: initial
}

.mat-button[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-icon-button[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-stroked-button[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%] {
  opacity: .1;
  background-color: currentColor
}

.mat-button-focus-overlay[_ngcontent-%COMP%] {
  background: #000
}

.mat-stroked-button[_ngcontent-%COMP%]:not([disabled]) {
  border-color: rgba(0, 0, 0, .12)
}

.mat-fab[_ngcontent-%COMP%], .mat-flat-button[_ngcontent-%COMP%], .mat-mini-fab[_ngcontent-%COMP%], .mat-raised-button[_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .87);
  background-color: #fff
}

.mat-fab.mat-accent[_ngcontent-%COMP%], .mat-fab.mat-primary[_ngcontent-%COMP%], .mat-fab.mat-warn[_ngcontent-%COMP%], .mat-flat-button.mat-accent[_ngcontent-%COMP%], .mat-flat-button.mat-primary[_ngcontent-%COMP%], .mat-flat-button.mat-warn[_ngcontent-%COMP%], .mat-mini-fab.mat-accent[_ngcontent-%COMP%], .mat-mini-fab.mat-primary[_ngcontent-%COMP%], .mat-mini-fab.mat-warn[_ngcontent-%COMP%], .mat-raised-button.mat-accent[_ngcontent-%COMP%], .mat-raised-button.mat-primary[_ngcontent-%COMP%], .mat-raised-button.mat-warn[_ngcontent-%COMP%] {
  color: #fff
}

.mat-fab.mat-accent[disabled][_ngcontent-%COMP%], .mat-fab.mat-primary[disabled][_ngcontent-%COMP%], .mat-fab.mat-warn[disabled][_ngcontent-%COMP%], .mat-fab[disabled][disabled][_ngcontent-%COMP%], .mat-flat-button.mat-accent[disabled][_ngcontent-%COMP%], .mat-flat-button.mat-primary[disabled][_ngcontent-%COMP%], .mat-flat-button.mat-warn[disabled][_ngcontent-%COMP%], .mat-flat-button[disabled][disabled][_ngcontent-%COMP%], .mat-mini-fab.mat-accent[disabled][_ngcontent-%COMP%], .mat-mini-fab.mat-primary[disabled][_ngcontent-%COMP%], .mat-mini-fab.mat-warn[disabled][_ngcontent-%COMP%], .mat-mini-fab[disabled][disabled][_ngcontent-%COMP%], .mat-raised-button.mat-accent[disabled][_ngcontent-%COMP%], .mat-raised-button.mat-primary[disabled][_ngcontent-%COMP%], .mat-raised-button.mat-warn[disabled][_ngcontent-%COMP%], .mat-raised-button[disabled][disabled][_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .26)
}

.mat-fab.mat-primary[_ngcontent-%COMP%], .mat-flat-button.mat-primary[_ngcontent-%COMP%], .mat-mini-fab.mat-primary[_ngcontent-%COMP%], .mat-raised-button.mat-primary[_ngcontent-%COMP%] {
  background-color: #3f51b5
}

.mat-fab.mat-accent[_ngcontent-%COMP%], .mat-flat-button.mat-accent[_ngcontent-%COMP%], .mat-mini-fab.mat-accent[_ngcontent-%COMP%], .mat-raised-button.mat-accent[_ngcontent-%COMP%] {
  background-color: #ff4081
}

.mat-fab.mat-warn[_ngcontent-%COMP%], .mat-flat-button.mat-warn[_ngcontent-%COMP%], .mat-mini-fab.mat-warn[_ngcontent-%COMP%], .mat-raised-button.mat-warn[_ngcontent-%COMP%] {
  background-color: #f44336
}

.mat-fab.mat-accent[disabled][_ngcontent-%COMP%], .mat-fab.mat-primary[disabled][_ngcontent-%COMP%], .mat-fab.mat-warn[disabled][_ngcontent-%COMP%], .mat-fab[disabled][disabled][_ngcontent-%COMP%], .mat-flat-button.mat-accent[disabled][_ngcontent-%COMP%], .mat-flat-button.mat-primary[disabled][_ngcontent-%COMP%], .mat-flat-button.mat-warn[disabled][_ngcontent-%COMP%], .mat-flat-button[disabled][disabled][_ngcontent-%COMP%], .mat-mini-fab.mat-accent[disabled][_ngcontent-%COMP%], .mat-mini-fab.mat-primary[disabled][_ngcontent-%COMP%], .mat-mini-fab.mat-warn[disabled][_ngcontent-%COMP%], .mat-mini-fab[disabled][disabled][_ngcontent-%COMP%], .mat-raised-button.mat-accent[disabled][_ngcontent-%COMP%], .mat-raised-button.mat-primary[disabled][_ngcontent-%COMP%], .mat-raised-button.mat-warn[disabled][_ngcontent-%COMP%], .mat-raised-button[disabled][disabled][_ngcontent-%COMP%] {
  background-color: rgba(0, 0, 0, .12)
}

.mat-fab.mat-accent[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-fab.mat-primary[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-fab.mat-warn[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-flat-button.mat-accent[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-flat-button.mat-primary[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-flat-button.mat-warn[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-mini-fab.mat-accent[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-mini-fab.mat-primary[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-mini-fab.mat-warn[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-raised-button.mat-accent[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-raised-button.mat-primary[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%], .mat-raised-button.mat-warn[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%] {
  background-color: hsla(0, 0%, 100%, .1)
}

.mat-flat-button[_ngcontent-%COMP%]:not([class*=mat-elevation-z]), .mat-stroked-button[_ngcontent-%COMP%]:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.mat-raised-button[_ngcontent-%COMP%]:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.mat-raised-button[_ngcontent-%COMP%]:not([disabled]):active:not([class*=mat-elevation-z]) {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
}

.mat-raised-button[disabled][_ngcontent-%COMP%]:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.mat-fab[_ngcontent-%COMP%]:not([class*=mat-elevation-z]), .mat-mini-fab[_ngcontent-%COMP%]:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.mat-fab[_ngcontent-%COMP%]:not([disabled]):active:not([class*=mat-elevation-z]), .mat-mini-fab[_ngcontent-%COMP%]:not([disabled]):active:not([class*=mat-elevation-z]) {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12)
}

.mat-fab[disabled][_ngcontent-%COMP%]:not([class*=mat-elevation-z]), .mat-mini-fab[disabled][_ngcontent-%COMP%]:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.mat-card[_ngcontent-%COMP%] {
  background: #fff;
  color: rgba(0, 0, 0, .87)
}

.mat-card[_ngcontent-%COMP%]:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12)
}

.mat-card.mat-card-flat[_ngcontent-%COMP%]:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.mat-card-subtitle[_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .54)
}

.mat-chip.mat-standard-chip[_ngcontent-%COMP%] {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, .87)
}

.mat-chip.mat-standard-chip[_ngcontent-%COMP%] .mat-chip-remove[_ngcontent-%COMP%] {
  color: rgba(0, 0, 0, .87);
  opacity: .4
}

.mat-chip.mat-standard-chip[_ngcontent-%COMP%]:not(.mat-chip-disabled):active {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.mat-chip.mat-standard-chip[_ngcontent-%COMP%]:not(.mat-chip-disabled) .mat-chip-remove[_ngcontent-%COMP%]:hover {
  opacity: .54
}

.mat-chip.mat-standard-chip.mat-chip-disabled[_ngcontent-%COMP%] {
  opacity: .4
}

.mat-chip.mat-standard-chip[_ngcontent-%COMP%]:after {
  background: #000
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary[_ngcontent-%COMP%] {
  background-color: #3f51b5;
  color: #fff
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary[_ngcontent-%COMP%] .mat-chip-remove[_ngcontent-%COMP%] {
  color: #fff;
  opacity: .4
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%] {
  background-color: hsla(0, 0%, 100%, .1)
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-warn[_ngcontent-%COMP%] {
  background-color: #f44336;
  color: #fff
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-warn[_ngcontent-%COMP%] .mat-chip-remove[_ngcontent-%COMP%] {
  color: #fff;
  opacity: .4
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-warn[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%] {
  background-color: hsla(0, 0%, 100%, .1)
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent[_ngcontent-%COMP%] {
  background-color: #ff4081;
  color: #fff
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent[_ngcontent-%COMP%] .mat-chip-remove[_ngcontent-%COMP%] {
  color: #fff;
  opacity: .4
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent[_ngcontent-%COMP%] .mat-ripple-element[_ngcontent-%COMP%] {
  background-color: hsla(0, 0%, 100%, .1)
}

.example-card[_ngcontent-%COMP%] {
  max-width: 400px
}

.example-header-image[_ngcontent-%COMP%] {
  background-image: url(/assets/margarete.jpg);
  background-size: cover
}